@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
.preheading {
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy', cursive;
}

.intro_heading {
    font-family: 'Lato', sans-serif;
}

p,
strong {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.usp>span {
    color: #c5ccca;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.video-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    bottom: 19rem;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}